<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763476605190-p8i6ueuhus5b22luh16oa8ufrkbsfp8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763476605190-p8i6ueuhus5b22luh16oa8ufrkbsfp8n</string>
	<key>API_KEY</key>
	<string>AIzaSyAOiU-EUMKp9lolDru1KzNLXanft45EaFk</string>
	<key>GCM_SENDER_ID</key>
	<string>763476605190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-20cb2</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-20cb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763476605190:ios:60abe6d4413b86038b0687</string>
</dict>
</plist>