<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410068070099-45jn6leb0cvonhsseb0a790lscn4027o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410068070099-45jn6leb0cvonhsseb0a790lscn4027o</string>
	<key>API_KEY</key>
	<string>AIzaSyCTSxtXoZehNNFeU2mbluFAvri96tyytcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>410068070099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-study-app-2edf4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-study-app-2edf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410068070099:ios:3c54209a36f8a9be79ee26</string>
</dict>
</plist>